*{
    margin: 0;
    padding: 0;
}
/* Common section */

/* Nav bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    padding: 16px 0px
}
nav .nav-link ul{
    display: flex;
    gap: 32px;
    list-style-type: none;  

}
.nav-link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:  rgba(0, 0, 0, 1);
    
}
.nav-link ul li{
    text-decoration: none;
    align-items: center;
}
nav .btn-div .btn{
    padding: 10px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
}
