*{
    margin: 0;
    padding: 0;
}
/* common  */

.container{
    max-width: 1250px;
    margin: 0 auto;
}
/* Nav bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    padding: 16px 0px;
    
}
nav .nav-link ul{
    display: flex;
    gap: 32px;
    list-style-type: none;  

}
.nav-link a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color:  rgba(0, 0, 0, 1);
    
}
.nav-link ul li{
    text-decoration: none;
    align-items: center;
}
nav .btn-div .btn{
    padding: 10px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: aliceblue;
    padding: 12px 16px;
}
.hero{
    position: relative;
    height: 100vh;
    background: url('./assets/hero-bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.hero .content{
    text-align: center;
    padding: 100px;
}
.content .main-btn{
    background-color: white;
    color: #30B868;
    border-radius: 1000px;
    padding: 12px;
    border: none;
}

.content-h1{
    font-style: Bold;
    font-size: 72px;
    font-weight: 700;
}
.content-h1-modified{
    color: rgba(48, 184, 104, 1);

}

.content .p2{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 25px;
}
.content .btn1{
    padding: 16px ;
    border-radius: 8px;
    background-color: #30B868;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    cursor: pointer;
}

.content .btn2{
    padding: 16px;
    border-radius: 8px;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    cursor: pointer;
    background: rgba(173, 168, 168, 0.9);
    color: #333;
}
.box-container-main .box-content{
    text-align: center;
    margin-top: 50px;
}
.box-content h1{
    margin-bottom: 16px;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}

.box-content p{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 44px;
}
.main-box{
    display: flex;
    gap: 24px;
}
.box-container .main-box .box{
    text-align: center;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.box img{
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;
    padding: 14px;
    align-items: center;
    margin-bottom: 16px;
}
.box h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 16px;
}
.box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.middle-point-box .main-point-box .point-box{
    display: flex;
    gap: 60px;
    margin-top: 72px;
}
.point-box .point-box-content{
    margin-top: 130px;
}
.point-box-content p{
    color: #30B868;
    margin-bottom: 16px;
}
.point-box-content h1{
    margin-bottom: 16px;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
}
.point-box-content .big-para{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}
.point-box-content .mark-content .item{
    display: flex;
    gap: 8px;
    color: #333;
    margin-bottom: 16px;
}
.middle-point-box{
    margin-bottom: 120px;
}